body {
	margin: 0;
	padding: 0;
}
/*------Header présent sur chaque page------*/
header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #579c83;
	height: 125px;	
	margin-bottom: 100px;
}
#logo {
	width: 350px;
}
.menus {
	display: flex;
	justify-content: space-around;
}
.liennote, .lienchic, .liendelice, .lienpalette {
	box-sizing: content-box;
	width: 540px;
	height: 760px;
	text-align: center;		
	margin-bottom: 75px;	
	display: flex;
	text-decoration: none;
	font-size: 2em;	
	/*------Effet box shadow------*/
	box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1)
}
.liennote {
	background-color: #fcdcdc;		
}
/*------Note Musique Menu Chic------*/
.fab {
	font-size: 2.5em;
	margin-bottom: 0;
	background: -webkit-linear-gradient(1turn, #f44c5c, #fc946c);
  				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;	
}
/*------Transition effet zoom et fondu sur titres menus------*/
#menunote:hover, #menuchic:hover, #menudelice:hover, #menupalette:hover {
	transform: scale(1.2);
	opacity: .5;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#menunote, #menuchic, #menudelice, #menupalette{
	margin: auto;
}
#menunote h2{
	font-family: 'Devonshire', cursive;
	font-weight: lighter;	
	margin-top: 0;
	color: #3c141c;	
}
#menunote h3 {
	font-family: 'Tillana', cursive;
	color: #3c141c;
	font-size: 1.8em;
}
.lienchic {
	background-color: #fcf4fc;		
}
#menuchic h2 {
	font-family: 'Croissant One', cursive;
	font-size: 1.1em;
	background: -webkit-linear-gradient(1turn, #c87414, #8c5cfc);
  				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
	font-weight: lighter;
}
#menuchic h3 {
	font-family: 'Prata', serif;	
	color: #c47414;
	font-size: 1.8em;
}
#menudelice h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 1.5em;	
	background: -webkit-linear-gradient(1turn, #2444e4, #0c84fc);
  				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
  	padding-left: 5px;
  	font-weight: lighter;
}
#menudelice h3 {
	font-family: 'Bad Script', cursive;
	color: #0c84fc;
	font-size: 1.8em;
}
.liendelice {
	background-color: #fcfcfc;	
}
#menupalette h2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5em;
	background: -webkit-linear-gradient(1turn, #3c943c, #bcfc7c);
  				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
  	padding-right: 5px;
  	font-weight: lighter;
}
#menupalette h3 {
	font-family: 'Bad Script', cursive;
	color: #74bc54;
	font-size: 1.8em;
}
/*------Case prochainement------*/
#next {
	background-color: #579c83;	
	width: 655px;
	height: 120px;
	margin: auto;
	border-radius: 30px;
	font-family: 'Roboto', sans-serif;	
	display: flex;	
	margin-bottom: 150px;
}
#next p {
	color: #fccc44;
	margin: auto;
	font-size: 3.8em;
}
/*------Animation points de suspension------*/
@keyframes disappear {
	0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}
.loading span {
	animation-name: disappear;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;	
}
.loading span:nth-child(2) {
	animation-delay: 0.5s;	
}
.loading span:nth-child(3) {
	animation-delay: 0.8s;	
}
/*------Footer fixe présent sur chaque page------*/
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fccc44;
	background-color: #579c83;	
	height: 75px;
	position: fixed;
	bottom: 0;
	width: 100%;	
}
.rubriques {
	color: #fccc44;
	text-decoration: none;
	padding: 0 25px 0 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 2.2em;
}
/*------Boutons footer avec effet wiggle------*/
.rubriques p:hover {
	-webkit-animation-name: wiggle;
  	-ms-animation-name: wiggle;
  	-ms-animation-duration: 500ms;
  	-webkit-animation-duration: 500ms;
  	-webkit-animation-iteration-count: 1;
  	-ms-animation-iteration-count: 1;
  	-webkit-animation-timing-function: ease-in-out;
  	-ms-animation-timing-function: ease-in-out;
}
@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(5deg);}
  20% {-webkit-transform: rotate(-5deg);}
  40% {-webkit-transform: rotate(5deg);}
  60% {-webkit-transform: rotate(-5deg);}
  80% {-webkit-transform: rotate(5deg);}
  100% {-webkit-transform: rotate(5deg);}
}
@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(10deg);}
  20% {-ms-transform: rotate(-10deg);}
  40% {-ms-transform: rotate(10deg);}
  60% {-ms-transform: rotate(-10deg);}
  80% {-ms-transform: rotate(10deg);}
  100% {-ms-transform: rotate(-10deg);}
}
@keyframes wiggle {
  0% {transform: rotate(5deg);}
  20% {transform: rotate(-5deg);}
  40% {transform: rotate(5deg);}
  60% {transform: rotate(-5deg);}
  80% {transform: rotate(5deg);}
  100% {transform: rotate(-5deg);}
}

/*---------------------------------------------------------------------------------------------------*/
/*-------------------------------------------Page Menu Note------------------------------------------*/
#mainnote {
	background-color: #fcdcdc;
	margin: auto;
	width: 70%;
	text-align: center;
	color: #3c141c;
	font-family: 'Kalam', cursive;
	font-size: 1.5em;
	box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1)
}
/*------Logo et nom du restaurant------*/
#pagemenunote h1 {
	font-family: 'Devonshire', cursive;
	font-weight: lighter;
	font-size: 3em;
	margin: 0 0 50px 0;	
}
#pagemenunote i {
	font-size: 5em;
	margin-top: 50px;
}
/*------Section plats et prix------*/
#blocmenunote {
	display: flex;
	flex-direction: column;	
	text-align: center;	
	margin-bottom: 200px;	
	padding-bottom: 75px;
}
#blocmenunote h2 {
	font-size: 1.6em;	
}
/*------Soulignement titres------*/
#blocmenunote span {
	background: linear-gradient(to top, #fc946c 0%, #fc946c 8%, transparent 8.01%) no-repeat left bottom / 0 100%;
	transition: background-size 0.7s;	
	color: inherit;		
}
#blocmenunote span:hover {
	background-size: 100% 100%;
}	
.deco {
	display: flex;	
	justify-content: space-between;
	align-items: center;
}
.menunotedecogauche {
	width: 25%;	
	margin-left: 100px;
}
.menunotedecodroite {
	width: 25%;
	margin-right: 100px;	
}
.contenu {
	display: flex;
	text-align: left;	
	margin: auto;
	width: 80%;
}
.plats {
	width: 90%		
}
.prix {
	width: 10%;
	text-align: right;
	display: inline-block;
	font-weight: bold;
}
/*------Rappel logo et nom du restaurant------*/
#finpagemenunote {
	display: flex;
	margin: auto;
	justify-content: space-around;
	align-items: center;
}
#finpagemenunote i {
	font-size: 3.5em;
}
#finpagemenunote h3 {
	font-family: 'Devonshire', cursive;
	font-weight: lighter;
	font-size: 2.7em;
	margin-left: 25px;
}
/*-------------------------------------------------------------------------------------------------*/
/*--Page Menu Chic--*/
#mainchic {
	background-color: #fcf4fc;
	margin: auto;
	width: 70%;
	text-align: center;
	font-family: 'Prata', serif;
	font-size: 1.2em;
	box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1)
}
/*------Nom du restaurant------*/
#pagemenuchic {
	border: 1px solid #fcf4fc;	
}
/*------Dégradé nom restaurant------*/
#pagemenuchic h1 {
	font-family: 'Croissant One', cursive;
	font-size: 2.5em;		
	background: -webkit-linear-gradient(1turn, #c87414, #8c5cfc);
  				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
  	margin: 100px 0 100px 0;  	
}
/*------Section plats et prix------*/
#blocmenuchic {
	display: flex;
	flex-direction: column;	
	text-align: center;	
	margin-bottom: 200px;
	padding-bottom: 125px;	
}
#blocmenuchic h2 {	
	font-size: 1.4em;
}
/*------Soulignement titres------*/
#blocmenuchic span {
	background: linear-gradient(to top, #c87414 0%, #8c5cfc 8%, transparent 8.01%) no-repeat left bottom / 0 100%;
	transition: background-size 0.7s;
	text-decoration: none;
	color: inherit;
}
#blocmenuchic span:hover {
	background-size: 100% 100%;	
}	
.platsmenuchic1, .platsmenuchic2, .platsmenuchic3 {
	width: 85%		
}
.platsmenuchic1 p, .platsmenuchic2 p, .platsmenuchic3 p {
	margin-left: 75px;
}
.prixmenuchic1, .prixmenuchic2 {	
	width: 15%;
	display: inline-block;
	text-align: left;
}
.titremenuchic1, .platsmenuchic1, .prixmenuchic1 {
	color: #c87414;
}
.titremenuchic2, .platsmenuchic2, .prixmenuchic2 {
	color: #a4649c;
}
.titremenuchic3, .platsmenuchic3 {
	color: #8c5cfc;
}
.menuchicdecogauche {
	width: 25%;	
	margin-left: 60px;
}
.menuchicdecodroite {
	width: 25%;	
	margin-right: 60px;
}
/*----------------------------------------------------------------------------------------------*/
/*--Page Menu Delice--*/
#maindelice {
	background-color: #f0ecec;
	margin: auto;
	width: 70%;
	text-align: center;
	font-family: 'Kalam', cursive;
	font-size: 1.5em;
	box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1)
}
/*------Nom du restaurant------*/
#pagemenudelice {
	border: 1px solid #f0ecec;	
}
/*------Dégradé nom restaurant------*/
#pagemenudelice h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 3em;		
	background: -webkit-linear-gradient(1turn, #2444e4, #0c84fc);
  				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
	margin: 100px 0 100px 0;
	font-weight: lighter;
}
/*------Section plats et prix------*/
#blocmenudelice {
	display: flex;
	flex-direction: column;	
	text-align: center;	
	margin-bottom: 200px;
	padding-bottom: 125px;		
}
#blocmenudelice h2 {
	font-weight: lighter;
	font-size: 1.2em;	
}
/*------Soulignement titres------*/
#blocmenudelice span {
	background: linear-gradient(to top, #2444e4 0%, #0c84fc 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	transition: background-size 0.7s;
	text-decoration: none;
}
#blocmenudelice span:hover {
	background-size: 100% 100%;
}	
#blocmenudelice .plats {
	margin-left: 25px;
}
#blocmenudelice .prix {
	font-weight: bold;
	text-align: left;
}
.menudelicedecogauche {
	width: 25%;	
	margin-left: 100px;
}
.menudelicedecodroite {
	width: 25%;	
	margin-right: 100px;
}
/*---------------------------------------------------------------------------------------------------*/
/*--Page Menu Palette--*/
#mainpalette {	
	margin: auto;
	width: 70%;
	text-align: center;
	font-family: 'Kalam', cursive;
	font-size: 1.4em;
	box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1)

}
/*------Nom du restaurant------*/
#pagemenupalette {
		border: 1px solid white;
}
/*------Dégradé nom restaurant------*/
#pagemenupalette h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 3.5em;
	background: -webkit-linear-gradient(1turn, #3c943c, #bcfc7c);
  				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
  	margin: 100px 0 100px 0;  
  	font-weight: lighter;	
}
/*------Section plats et prix------*/
#blocmenupalette {
	display: flex;
	flex-direction: column;	
	text-align: center;	
	margin-bottom: 200px;
	padding-bottom: 125px;	
}
#blocmenupalette h2 {
	font-weight: lighter;
	font-size: 1.2em;	
}
/*------Soulignement titres------*/
#blocmenupalette span {
	background: linear-gradient(to top, #bcfc7c 0%, #3c943c 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	transition: background-size 0.7s;
	text-decoration: none;
}
#blocmenupalette span:hover {
	background-size: 100% 100%;
}
#blocmenupalette .plats {
	margin-left: 25px;
}
#blocmenupalette .prix {
	text-align: left;
}
.menupalettedecogauche {
	width: 25%;	
	margin-left: 100px;
}
.menupalettedecodroite {
	width: 25%;	
	margin-right: 100px;
}
/*---------------------------------------------------------------------------------------------------*/
/*--Page Mentions légales--*/
#mainmentions {
	font-family: 'Archivo', sans-serif;	
	margin: auto 50px 150px 50px;
}
#mainmentions h1, #mainmentions h2, #mainmentions h3 {
	color: #579c83;
	font-size: 2em;	
}
#mainmentions h1 {
	font-size: 2.5em;
}

/*-----------------------------Responsive laptops-----------------------------------------*/
/*--Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px--*/
@media screen and (max-width: 1024px)
{
	#logo {
		width : 25em;
	}
	.liennote, .lienchic, .liendelice, .lienpalette {
		box-sizing: content-box;
		width: 405px;
		height: 570px;	
	}
	.fab {
		font-size: 2em;
	}
	#menunote h2{
		font-size: 1.2em;
	}	
	#menunote h3, #menuchic h3  {	
		font-size: 1.3em;
	}
	#menuchic h2 {
		font-size: 0.8em;
	}	
	#menudelice h2, #menupalette h2 {
		font-size: 1.2em;	
	}
	#menudelice h3, #menupalette h3 {
		font-size: 1.5em;
	}
	#next {		
		width: 490px;
		height: 90px;	
		border-radius: 25px;	
	}
	#next p {
		font-size: 3em;
	}
	footer {
	height: 60px;	
	}
	.rubriques {
		font-size: 1.5em;
	}	
	/*--Page Menu Note--*/
	#mainnote {
	font-size: 1.1em;
	width: 75%;
	}
	.menunotedecogauche {
	width: 25%;	
	margin-left: 75px;
	}
	.menunotedecodroite {
	width: 25%;
	margin-right: 75px;	
	}
	/*--Page Menu Chic--*/
	#mainchic {
	font-size: 1em;
	width: 75%;
	}
	.menuchicdecogauche {
	margin-left: 35px;
	}
	.menuchicdecodroite {
	margin-right: 35px;	
	}
	#pagemenuchic h1 {
	font-size: 2.2em;	
	}	
	#blocmenuchic h2 {
	font-size: 1.2em;
	}
	.platsmenuchic1 p, .platsmenuchic2 p, .platsmenuchic3 p {
	margin-left: 35px;
	}
	/*--Page Menu Delice--*/
	#maindelice {
	font-size: 1.1em;
	width: 75%;
	}
	.menudelicedecogauche {	
	margin-left: 75px;
	}
	.menudelicedecodroite {	
	margin-right: 75px;
	}
	/*--Page Menu Palette--*/
	#mainpalette {
	font-size: 1em;
	width: 75%;
	}
	.menupalettedecogauche {	
	margin-left: 75px;
	}
	.menupalettedecodroite {	
	margin-right: 75px;
	}

}
/*-------------------------Responsive tablettes-------------------------------*/
/*--Sur les écrans, quand la largeur de la fenêtre fait au maximum 768px--*/
@media screen and (max-width: 768px)
{
	#logo {
		width: 20em;
	}
	.liennote, .lienchic, .liendelice, .lienpalette {
		box-sizing: content-box;
		width: 300px;
		height: 420px;	
	}
	.fab {
		font-size: 1.8em;
	}
	#menunote h2{
		font-size: 1em;
	}	
	#menunote h3, #menuchic h3  {	
		font-size: 1.1em;
	}
	#menuchic h2 {
		font-size: 0.6em;
	}	
	#menudelice h2, #menupalette h2 {
		font-size: 1em;	
	}
	#menudelice h3, #menupalette h3 {
		font-size: 1.2em;
	}
	#next {		
		width: 365px;
		height: 65px;	
		border-radius: 20px;
		margin-bottom: 100px;	
	}
	#next p {
		font-size: 2.2em;
	}
	.rubriques {
		font-size: 1.4em;
	}
	footer {
	height: 55px;
	}
	/*--Page Menu Note--*/
	#mainnote {
	font-size: 1.1em;
	width: 95%;
	}
	.menunotedecogauche {
	width: 20%;	
	margin-left: 75px;
	}
	.menunotedecodroite {
	width: 20%;
	margin-right: 75px;	
	}
	.plats {
	width: 85%		
	}
	.prix {
	width: 15%;
	text-align: right;
	display: inline-block;
	font-weight: bold;
	}
	/*--Page Menu Chic--*/
	#mainchic {
	font-size: 1em;
	width: 95%;
	}	
	/*--Page Menu Delice--*/
	#maindelice {
	font-size: 1.1em;
	width: 95%;
	}
	.menudelicedecogauche {	
	margin-left: 50px;
	}
	.menudelicedecodroite {	
	margin-right: 50px;
	}	
	/*--Page Menu Palette--*/
	#mainpalette {
	font-size: 1.1em;
	width: 95%;
	}
	.menupalettedecogauche {	
	margin-left: 50px;
	}
	.menupalettedecodroite {	
	margin-right: 50px;
	}
}
/*----------------------Responsive smartphones-----------------------------*/
/*--Sur les écrans, quand la largeur de la fenêtre fait au maximum 480px--*/
@media screen and (max-width: 480px)
{
	header {
	height: 100px;
	width: 100%;
	margin-bottom: 75px;
	}  
	#logo {
		width : 15em;
	}
	/*--Changement flex-direction--*/
	.menus {
	flex-direction: column;
	align-items: center;
	}
	#next {		
		width: 275px;
		height: 50px;	
		border-radius: 15px;
		margin-bottom: 80px;	
	}
	#next p {
		font-size: 1.7em;
	}
	.rubriques {
		font-size: 0.9em;
	}
	footer {
	height: 45px;
	}
	/*--Page Menu Note--*/
	/*--Changement flex-direction--*/
	.contenu {
		flex-direction: column;		
	}
	.prix, .plats {
		width: 100%;
		text-align: center;
	}	
	.menunotedecogauche {
		width: 25%;	
		margin-left: 10px;
	}
	.menunotedecodroite {
		width: 25%;
		margin-right: 10px;	
	}
	#blocmenunote {
		margin-bottom: 100px;	
	}
	#pagemenunote i {
		font-size: 4em;	
	}
	/*--Page Menu Chic--*/
	#mainchic {
		font-size: 1em;		
	}
	.platsmenuchic1, .platsmenuchic2, .platsmenuchic3 {	
		width: 100%;	
		text-align: center;
	}	
	.prixmenuchic1, .prixmenuchic2 {
		text-align: center;
		width: 100%;
	}
	#pagemenuchic h1 {
		margin: 75px 0 75px 0;  	
	}
	.menuchicdecogauche {	
		width: 25%;
		margin-left: 10px;	
	}
	.menuchicdecodroite {
		width: 25%;	
		margin-right: 10px;	
	}	
	#blocmenuchic {
		margin-bottom: 100px;		
	}
	/*--Page Menu Delice--*/
	#maindelice {
		font-size: 1.1em;	
	}
	#pagemenudelice h1 {	
		font-size: 2.5em;
		margin-bottom: 50px;
	}
	.menudelicedecogauche {	
		width: 20%;	
		margin-left: 15px;
	}
	.menudelicedecodroite {
		width: 20%;	
		margin-right: 15px;
	}
	#blocmenudelice {
		margin-bottom: 100px;		
	}
	#blocmenudelice .plats {
		margin-left: 0;
	}
	#blocmenudelice .prix {
		text-align: center;
	}
	/*--Page Menu Palette--*/
	#mainpalette {
		font-size: 1.1em;
	}
	#pagemenupalette h1 {	
		font-size: 2.5em;
		margin-bottom: 50px;
	}
	.menupalettedecogauche {
		width: 20%;		
		margin-left: 15px;
	}
	.menupalettedecodroite {
		width: 20%;		
		margin-right: 15px;
	}
	#blocmenupalette .plats {
		margin-left: 0;
	}
	#blocmenupalette .prix {
		text-align: center;
	}
	#blocmenupalette {
		margin-bottom: 100px;		
	}
}




